name: CI
on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.11" }
      - name: Install deps
        run: |
          python -m pip install -U pip wheel
          pip install black flake8 flake8-bugbear flake8-annotations flake8-bandit flake8-print mypy pytest pytest-cov
      - name: Black (check)
        run: black --check src tests
      - name: Flake8
        run: flake8 src tests
      - name: Mypy
        run: mypy src
      - name: Pytest
        run: pytest -ra
