name: Qodana

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2025.2
        with:
          args: --baseline,qodana.sarif.json,--baseline-include-absent,--fail-threshold,5
          upload-result: true
          artifact-name: qodana-report
          results-dir: qodana-results
