name: Qodana

on:
  push:
  pull_request:

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Qodana (Python)
        uses: JetBrains/qodana-action@v2024.2
        with:
          args: --save-report,--baseline,qodana.sarif.json,--baseline-include-absent,--fail-threshold,5
          use-caches: true
          project-dir: ./
          results-dir: ./.qodana
          # usa il qodana.yaml in root

  license-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Qodana (License Audit)
        uses: JetBrains/qodana-action@v2024.2
        with:
          args: --save-report,--baseline,qodana.sarif.json,--baseline-include-absent,--fail-threshold,5
          use-caches: true
          project-dir: ./
          results-dir: ./.qodana-licenses
          qodana-yaml-path: qodana.licenses.yaml
